<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">

        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="jumbotron">
                <p>Welcome to Salesforce as Idp app</p>
                <% if(typeof passport !== 'undefined') { %>
                    <% if (passport.user) { %>
                        <h1>This is Protected Resource</h1>                        
                        <h2>Variable</h2>
                        <p><%= tagline %></p>
                        <ul>
                            <% mascots.forEach(function(mascot) { %>
                              <li>
                                <strong><%= mascot.name %></strong>
                                representing <%= mascot.organization %>,
                                born <%= mascot.birth_year %>
                              </li>
                            <% }); %>
                        </ul> 
                    <% } %>
                <% } %>        
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>